<h1>Listing zoos</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @zoos.each do |zoo| %>
  <tr>
    <td><%= zoo.name %></td>
    <td><%= link_to 'Show', zoo %></td>
    <td><%= link_to 'Edit', edit_zoo_path(zoo) %></td>
    <td><%= link_to 'Destroy', zoo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Zoo', new_zoo_path %>
